         * {
             margin: 0;
             padding: 0;
         }
         
         .main {
             width: 100%;
             background-image: url("images/stockcake-large-1991019-1765689763095.png");
             background-position: right;
             background-size: cover;
             height: 109vh;
         }
         
         .navbar {
             width: 2000px;
             height: 75px;
             margin: auto;
         }
         
         .icon {
             width: 200px;
             float: left;
             height: 70px;
         }
         
         .logo {
             color: rgb(2, 4, 14);
             font-size: 50px;
             font-weight: 900;
             font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
             padding-left: 20px;
             float: left;
             padding-top: 10px;
         }
         
         .menu {
             width: 400px;
             float: left;
             height: 70px;
         }
         
         ul {
             float: left;
             display: flex;
             justify-content: center;
             align-items: center;
         }
         
         ul li {
             list-style: none;
             margin-left: 62px;
             margin-top: 27px;
             font-size: 16px;
         }
         
         ul li a {
             text-decoration: none;
             color: blue;
             font-family: Georgia, 'Times New Roman', Times, serif;
             font-weight: bold;
             transition: 0.4s ease-in-out;
         }
         
         ul li a:hover {
             color: rgb(3, 3, 3);
         }
         
         .search {
             width: 330px;
             float: left;
             margin-left: 270px;
         }
         
         .srch {
             font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
             width: 200px;
             height: 40px;
             background: transparent;
             border: 2px solid blue;
             margin-top: 13px;
             color: rgb(8, 1, 1);
             border-right: none;
             font-size: 20px;
             float: left;
             padding: 10px;
             border-bottom-left-radius: 5px;
             border-top-left-radius: 5px;
         }
         
         .btn {
             width: 100px;
             height: 40px;
             background: purple;
             border: 2px solid purple;
             margin-top: 13px;
             color: aquamarine;
             font-size: 16px;
             border-bottom-right-radius: 5px;
             border-bottom-right-radius: 5px;
         }
         
         .btn:focus {
             outline: none;
         }
         
         .srch:focus {
             outline: none;
         }
         
         .content {
             height: auto;
             position: relative;
             margin: auto;
             color: rgb(1, 13, 24);
             font-size: 1px;
             font-family: Georgia, 'Times New Roman', Times, serif;
             font-weight: 100;
         }
         
         .par {
             font-size: 20px;
             padding-left: 20px;
             padding-bottom: 25px;
             font-family: Arial, Helvetica, sans-serif;
             letter-spacing: 1.2px;
             line-height: 30px;
             font-weight: bold;
         }
         
         .content h1 {
             width: fit-content;
             font-family: 'Times New Roman';
             font-size: 20px;
             color: #080000;
             padding-right: 10px;
             margin-left: auto;
             margin-right: 0;
             margin-top: 1%;
             letter-spacing: 2px;
             position: relative;
             top: -40px;
         }
         
         .content h2 {
             font-family: 'Times New Roman';
             font-size: 50px;
             padding-left: 20px;
             margin-top: -18%;
             letter-spacing: 2px;
             text-align: center;
         }
         
         .content .cn {
             width: 160px;
             height: 40px;
             background: rgb(255, 230, 0);
             border: none;
             margin-bottom: 10px;
             margin-left: 20px;
             font-size: 18px;
             border-radius: 10px;
             -webkit-border-radius: 10px;
             -moz-border-radius: 10px;
             -ms-border-radius: 10px;
             -o-border-radius: 10px;
             cursor: pointer;
             transition: .4s ease;
         }
         
         .context.cn a {
             text-decoration: none;
             color: #080000;
             transition: .3s ease;
         }
         
         .cn:hover {
             background: white;
         }